button{
    background-color: blueviolet;
    color: rgb(127, 233, 56);
    border: solid 3px;
    border-color: rgb(14, 150, 109);
    border-radius: 8px 8px 8px 8px;
    padding: 20px 35px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px 2px;
    
    
}
body{

    background-color: rgb(172, 113, 196);
    color: rgb(42, 165, 73);
    font-size: 40px;
    font-size: center;
    text-align: center;

}